/******************************************************************
Site Name:
Author:

Stylesheet: Desktop

******************************************************************/

/*************************
 * GENERAL
 ************************/

/*************************
 * HEADER
 ************************/
 #logo {
	width: auto;
    text-align: initial;
    margin-bottom: initial;
    max-width:200px;
}
#main-navigation {
    margin-top: initial;
    width: auto;
}
/*************************
 * POSTS & CONTENT
 ************************/

/*************************
 * FOOTER
 ************************/
