/******************************************************************
Site Name:
Author:

Stylesheet: Tablet

******************************************************************/

/*************************
 * GENERAL
 ************************/

/*************************
 * HEADER
 ************************/
 #logo {
	width: 100%;
    text-align: center;
    margin-bottom: 1em;
}
#main-navigation {
    margin-top: 1em;
    width: 100%;
}
/*************************
 * POSTS & CONTENT
 ************************/

/*************************
 * FOOTER
 ************************/

.wp-block-group__inner-container,
.wp-block-cover__inner-container {
	margin: auto;
	padding: 0 3em;
	max-width: map-get($container-max-widths, 'xl');
}