/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile

******************************************************************/

/*************************
 * GENERAL
 ************************/

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	height: auto;
	overflow-x: hidden;

	#container {
		height: 100%;
	}
}

/*************************
 * HEADER
 ************************/

#masthead {
	background-color: $color__black;
}

#inner-header {
	padding-top: 3em;
	padding-bottom: 3em;
}

#logo {
	&.h1 {
		margin: 0;
	}

	a {
		text-decoration: none;
	}
}
.custom-logo {
	max-height: 61.71px;
}
#banner {
	display: none;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;

	.spacer {
		padding-top: 19.44%; // change this value based on the aspect ratio of your header image
	}
}

/*************************
 * POSTS & CONTENT
 ************************/

#content {}

#inner-content {
	padding-top: 2em;
	padding-bottom: 2em;

	// headers

	.page-header {}

	.article-header {}

	// titles

	.page-title,
	.single-title {
		margin-top: 0;
	}

	.search-title {}

	// individual post classes

	.post-id {}

	.post {}

	.page {}

	.attachment {}

	.sticky {}

	.hentry {}

	.category-slug {}

	.tag-slug {}

	// post meta

	.entry-meta {
		color: $color__tertiary;
		font-style: italic;

		time {}
	}

	.tags {
		.tags-title {
			color: $color__tertiary;
		}
	}

	.categories {}

	// entry content

	.page-content {}

	.entry-content {}

	.archive-description {}

	// footers

	.page-footer {}

	.entry-footer {}
}

// Style individual templates
.home {
	h1, .h1,
	h2, .h2,
	h3, .h3 {
		margin: 20px 0;
	}
	p {
		hyphens: manual;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#inner-content {
		padding-top: 0em;
		padding-bottom: 0em;
	}
}

.blog {}

.archive {}

.search {}

.error404 {}

.blog,
.archive,
.search {
	#inner-content {
		.page-header {
			margin-bottom: 1em;
		}

		article {
			border-bottom: 1px solid $color__border;
			padding-top: 1em;
			padding-bottom: 1em;

			.entry-header {
				margin-top: 1em;
				margin-bottom: 1em;
			}

			.entry-title {
				margin: 0;
				// hyphenate long words
				overflow-wrap: break-word;
				word-wrap: break-word;
				hyphens: auto;
			}

			.entry-meta {
				margin: 0.5em 0 0;
			}

			.entry-header + .entry-content,
			.entry-content + .entry-footer {
				margin-top: -1em;
			}

			&:first-child {
				.entry-header {
					margin-top: 0;
				}
			}

			&:only-child {
				border-bottom: 0;
			}
		}
	}
}

.single {
	#inner-content {
		.entry-meta {
			margin: -0.5em 0 1em;
		}
	}
}

/*************************
 * FOOTER
 ************************/

#colophon {
	clear: both;
	color: $color__body-text;
	font-size: 14px;
	text-align: center;

	.copyright {
		text-align: center;
	}

	a {
		color: $color__body-text;
	}
}

ul.footer-menu {
	margin: 0 1px;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 -1px;
		padding: 0;

		a {
			font-size: 14px;
			font-family: $font__sans;
			font-weight: 700;
			color: $color__tertiary;
			display: block;
			line-height: 1;
			padding: 2em 1em;
			text-transform: uppercase;
		}

		&:first-child {
			a {
				padding-left: 0;
				border-left: 0;
			}
		}

		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}

	ul.sub-menu {
		display: none; // hide child ul as design does not support it
	}
}
ul.footer__social-media {
	list-style-type: none;
	padding: 2em 0;
	li{
		margin-left: 0;
		display: inline-block;
		a {
			display: block;
			padding: 0 1em;
		}
		&:first-child {
			a {
				padding-left: 0;
				border-left: 0;
			}
		}

		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}
}
.footer-social-icon {
	transition: ease-in-out .2s;
	fill: $color__link;
	&:hover,
	&:focus {
		fill: $color__link-hover;
	}
}
// scroll to top link
#back-top {
	margin: 0;
	bottom: 25px;
	right: 30px;
	position: fixed;
	z-index: 9999;

	a {
		background-color: rgba(0,0,0,0.55);
		color: #FFF;
		display: block;
		font-size: 1.675em;
		height: 1.675em;
		text-align: center;
		text-decoration: none;
		width: 1.675em;
		border-radius: 500px;
		transition: background-color 0.5s ease-in-out;

		&:hover,
		&:focus {
			background-color: #000;
		}
	}

	.fas {
		line-height: 1.675em;
	}
}

// BLOCK
.alignfull {
	width:100vw;
	position:relative;
	left:calc(-1 * (100vw - 100%)/2);
}
.wp-block-group__inner-container,
.wp-block-cover__inner-container {
	margin: auto;
	max-width: map-get($container-max-widths, 'xl');
}
.wp-block-button__link {
	cursor: pointer;
	position: relative;
	text-decoration: none;
	overflow: visible;
	left: auto;
	background-color: $color__link;
	border: 0;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	text-transform: none;
	border-radius: 0;
	font-weight: 700;
	font-family: $font__sans;
	text-transform: uppercase;
	transition: ease-in-out .2s;

	&:hover,
	&:focus {
		background-color: $color__link-hover;
		text-decoration: none;
		background-image: none;
	}
}

.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
	margin-top: 1em;
}

// Separator
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	width: 100%;
	max-width: 246px;
}
.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
	height: 4px;
}
.wp-block-separator {
	opacity: 1;
}

// Quote
.wp-block-quote {
	border-left: none;
	padding-left: 0;
	font-size: 32px;
	font-style: italic;
	text-align: center;
	letter-spacing: 0.01em;
	padding-bottom: 2em;
	padding-top: 1.5em;
	border-bottom: 2px solid $color__primary;
	border-top: 2px solid $color__primary;
	position: relative;

	&:after {
		content: '';
		background-color: #FFF;
		background-image: url( '../images/quotes.svg' );
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
		max-width: 220px;
		height: 40.89px;
		display: block;
		position: absolute;
		top: -23px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

// Latests Posts.
.wp-block-latest-posts__featured-image{
	img {
		width: 100%;
	}
}
.wp-block-latest-posts {
	a,
	.wp-block-latest-posts__post-excerpt {
		padding: 0 1em;
		display: inline-block;
	}
}