/******************************************************************
Site Name:
Author:

Stylesheet: All Utility Includes

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Utility Functions

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Utility Classes

******************************************************************/
.img-border {
  border: 1px solid #CCC;
  padding: 5px;
}

.img-rounded {
  border-radius: 6px;
}

.img-polaroid {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 4px;
}

.img-circle {
  border-radius: 500px;
}

span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.float-right {
  float: right;
}

.clear-left {
  clear: left;
}

.clear-both,
.clear {
  clear: both;
}

.clear-right {
  clear: right;
}

.clearfix {
  zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.scaffolding-hidden {
  display: none !important;
  visibility: hidden;
}

.scaffolding-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.scaffolding-visuallyhidden.focusable:active,
.scaffolding-visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.scaffolding-invisible {
  visibility: hidden;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Accessibility Stylesheet

******************************************************************/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #333333;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#content[tabindex="-1"]:focus {
  outline: 0;
}

.recent-posts__cards-wrapper {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recent-posts__cards {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.recent-posts__cards:hover, .recent-posts__cards:focus {
  color: #333333;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.recent-posts__cards:hover .recent-posts__read-more, .recent-posts__cards:focus .recent-posts__read-more {
  color: #AE2A47;
}
.recent-posts__cards img {
  width: 100%;
}
.recent-posts__cards p,
.recent-posts__cards .recent-posts__title,
.recent-posts__cards .recent-posts__read-more {
  padding: 0 1em;
  color: #333333;
}
.recent-posts__cards .recent-posts__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}
.recent-posts__cards .recent-posts__read-more {
  text-decoration: underline;
  color: #DA3559;
  margin-top: auto;
}
